:root { --translateValue: 0; }

html,
body,
main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: cornsilk;
    color: brown;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #cccccc;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 {
    font-size: 30px;
    color: red;
    text-align: center;
    padding: 5px;
    border-bottom: 2px black solid;
}

h2 {
    font-size: 20px;
    color: #a5cd0c;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    font-size: 12px;
    color: darkblue;
    padding: 5px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #cccccc;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

section {
    display: flex;
}

aside {
    flex: 1
}

article {
    flex: 4
}

img {
    width: 100%;
}

.home_container {
    position: relative;
    text-align: center;
    color: white;
}

.introduction {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.review_box {
    align-self: center;
    width: 500px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .review_box {
        align-self: center;
        width: 200px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 10px;
        text-align: center;
        margin: 5px auto;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .review_box {
        align-self: center;
        width: 200px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 10px;
        text-align: center;
        margin: 5px auto;
    }
}

